<div id="home-header">
  <h1>Welcome To Important People!</h1>
  <em>Please create an important person before you create events, wishlist items, and messages.</em>
</div>

<div class="row">

  <div class="col-md-6 col-sm-6" id="home-ip-index-area">
    <a class="btn btn-primary" href="/important_persons" id="home-ip-index-button">Important People</a>
  </div>

  <div class="col-md-6 col-sm-6" id="home-ip-new-area">
    <a class="btn btn-primary" href="/important_persons/new" id="home-ip-new-button">New Important Person</a>
  </div>

  <div class="col-md-6 col-sm-6" id="home-events-index-area">
    <a class="btn btn-primary" href="/events" id="home-events-index-button">Upcoming Events</a>
  </div>

  <div class="col-md-6 col-sm-6" id="home-events-new-area">
    <a class="btn btn-primary" href="/events/new" id="home-events-new-button">New Event</a>
  </div>

  <div class="col-md-6 col-sm-6" id="home-wishlist-index-area">
    <a class="btn btn-primary" href="/wishlist_items" id="home-wishlist-index-button">Wishlist Items</a>
  </div>

  <div class="col-md-6 col-sm-6" id="home-wishlist-new-area">
    <a class="btn btn-primary" href="/wishlist_items/new" id="home-wishlist-new-button">New Wishlist Item</a>
  </div>

  <div class="col-md-6 col-sm-6" id="home-messages-index-area">
    <a class="btn btn-primary" href="/messages" id="home-messages-index-button">Messages</a>
  </div>

  <div class="col-md-6 col-sm-6" id="home-messages-new-area">
    <a class="btn btn-primary" href="/messages/select" id="home-messages-new-button">New Message</a>
  </div>

</div>




