.col-md-4 {
  padding-top: 15px;
}

.img-responsive-ip-show {
  max-width: 66%;
  height: auto;
}

#ip-events-button {
 background-color: #28ABCC;
 font-size: 24px;
 color: white;
}

#ip-wishlist-items-button {
 background-color: #28ABCC;
 font-size: 24px;
 color: white;
}

#ip-messages-button {
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
}
