// --------------HOME PAGE-----------------

.img-responsive-home {
  position: fixed;
  bottom: 31px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#home-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

#home-ip-index-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-ip-index-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home-ip-new-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-ip-new-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home-events-index-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-events-index-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home-events-new-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-events-new-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home-wishlist-index-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-wishlist-index-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home-wishlist-new-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-wishlist-new-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home-messages-index-area {
  padding-top: 20px;
  padding-bottom: 121px;
}

#home-messages-index-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home-messages-new-area {
  padding-top: 20px;
  padding-bottom: 121px;
}

#home-messages-new-button {
  width: 250px;
  height: 50px;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// ------------------INDEX PAGE------------------
// ----------------------------------------------


.col-md-4 {
  padding-top: 15px;
}

#ip-index-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #34495E;
}

.ip-index-container {
  padding-bottom: 40px;
}

.img-responsive-ip-index {
  max-height: 300px;
  max-width: 450px;
  overflow: hidden;
  border: 15px solid #18667a;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-no-image-index-text {
  font-size: 24px;
  text-align: center;
}

#ip-index-info {
  font-size: 18px;
}

#ip-index-button {
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
}

#ip-index-ned {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

//----------------NEW/EDIT---------------
//------------------------------------------

#ip-form-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.breadcrumb-new {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-first-name-form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-form-first-name {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

#ip-last-name-form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-form-last-name {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

#ip-email-form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-form-email {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

#ip-phone-form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-form-phone {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

#ip-form-phone em {
  font-size: 16px;
}

#ip-image-form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-form-image {
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

#ip-form-submit {
  padding-top: 20px;
  text-align: center;
}

#ip-form-button {
 background-color: #28ABCC;
 font-size: 24px;
 color: white;
}


//-------------------SHOW----------------
//------------------------------------------
 
#ip-show-header { 
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.img-responsive-ip-show {
  max-height: 400px;
  max-width: 600px;
  overflow: hidden;
  border: 15px solid #18667a;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-show-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

#ip-show-info span {
  font-size: 18px;
}

#ip-show-info p {
  padding-top: 20px;
}

#ip-show-row-middle {
  padding-top: 40px;
  padding-bottom: 60px;
}

#ip-events-button {
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-wishlist-items-button {
 background-color: #28ABCC;
 font-size: 24px;
 color: white;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#ip-messages-button {
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ip-show-row-bottom {
  padding-bottom: 60px;
}

#ip-show-row-bottom h5 {
  font-size: 18px;
  text-align: center;
}

#ip-show-row-bottom h2 {
  text-align: center;
}
