//----------------SELECT MESSAGES----------------
//----------------------------------------------------

#new-message-heading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#new-email-area {
  padding-top: 20px;
}

#new-text-message-area {
  padding-top: 30px;
}

#new-tweet-area {
  padding-top: 30px;
  padding-bottom: 60px;
}

#new-email-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
}

#new-text-message-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
}

#new-tweet-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #28ABCC;
  font-size: 24px;
  color: white;
}

//----------------------INDEX-----------------------
//-----------------------------------------------------

.messages-index-container {
  padding-bottom: 40px;
}

#messages-index-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #34495E;
}
#messages-index-info {
  text-align: center;
}

















