// ----------------LOGIN----------------
//---------------------------------------

.log-in{
  width: 700px;
  margin:auto;
  text-align:center;
  padding-top:10%;
}
 
.panel-heading{
  background-color:#fff;
}
 
.form-control{
  width: 500px;
  text-align: center;
  margin:auto;
}




